.index-section {
  padding: .3rem;
  width: 12rem;
  font-size: .12rem;
}
.index-section .asou-service {
  position: relative;
  display: flex;
  margin-bottom: .2rem;
  width: 11.8rem;
  text-align: left;
  padding-top: .6rem;
  border-radius: .06rem;
  background-image: linear-gradient(116deg, #6348e9, #6089ff);
  font-weight: 500;
  color: #fff;
}
.index-section .asou-service .asou-banner {
  margin-left: .48rem;
  width: 2.27rem;
  height: 2.89rem;
  margin-top: -0.26rem;
  z-index: 1;
}
.index-section .asou-service .asou-section {
  margin-left: -0.1rem;
}
.index-section .asou-service .asou-section .asou-title {
  margin: 0 0 .1rem;
  font-size: .26rem;
}
.index-section .asou-service .asou-section .asou-explain {
  margin-bottom: .6rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: .16rem;
  line-height: 1.63;
}
.index-section .asou-service .asou-section .asou-explain label {
  position: relative;
  border-bottom: dotted .02rem #ffe053;
  padding-bottom: .04rem;
}
.index-section .asou-service .asou-section .asou-explain label .asou-notice-1,
.index-section .asou-service .asou-section .asou-explain label .asou-notice-2 {
  position: absolute;
  width: .89rem;
  height: .26rem;
  left: 40%;
  top: .3rem;
}
.index-section .asou-service .asou-section .asou-line {
  width: 8.2rem;
  opacity: 0.2;
  border: solid .005rem #ffffff;
}
.index-section .asou-service .asou-section .asou-sub-title {
  margin: .3rem 0 .2rem;
  font-size: .16rem;
}
.index-section .asou-service .asou-section .asou-sub-explain {
  margin-bottom: .4rem;
  line-height: 1.54;
  color: rgba(255, 255, 255, 0.85);
  font-size: .13rem;
  font-weight: 400;
}
.index-section .asou-service .asou-section .asou-feature {
  display: flex;
  margin-bottom: .09rem;
  font-size: .10rem;
  font-weight: 400;
  color: #fff;
}
.index-section .asou-service .asou-section .asou-feature .feature-item {
  margin-right: .28rem;
  text-align: center;
}
.index-section .asou-service .asou-section .asou-feature .feature-item .feature-img {
  height: .28rem;
  margin-bottom: .12rem;
}
.index-section .asou-service .asou-section .asou-feature .feature-item.active .feature-title {
  width: 1.28rem;
  color: #ffe053;
}
.index-section .asou-service .asou-section .index-btn {
  box-shadow: 0 0.08rem 0.13rem 0 rgba(23, 83, 255, 0.73);
  background-image: linear-gradient(to bottom, #ffffff, #f5f7f9);
  border: solid .01rem #0085f3;
  color: #2293ff;
}
.index-section .asou-service .asou-section .asou-handle {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: .4rem;
}
.index-section .asou-service .asou-section-bg {
  position: absolute;
  right: 0;
  bottom: 0;
}
.index-section .coupon-service {
  display: flex;
  align-items: center;
  margin-bottom: .2rem;
  width: 11.8rem;
  height: 1.85rem;
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: .9rem;
  background-image: url(https://admore-cas.oss-cn-hangzhou.aliyuncs.com/home/v3/img/index/coupon_bg.png);
  background-size: cover;
}
.index-section .coupon-service .coupon-img {
  margin-right: .3rem;
  width: 1.8rem;
  height: 1.44rem;
}
.index-section .coupon-service .coupon-section {
  margin-right: 2.42rem;
  text-align: left;
  font-weight: 500;
  color: #fff;
}
.index-section .coupon-service .coupon-section .coupon-title {
  margin-top: 0;
  margin-bottom: .08rem;
  font-size: .26rem;
}
.index-section .coupon-service .coupon-section .coupon-info {
  font-size: .16rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}
.index-section .coupon-service .index-btn {
  box-shadow: 0 0.08rem 0.1rem 0 rgba(208, 2, 27, 0.36);
  background-image: linear-gradient(to bottom, #ffffff, #f5f7f9);
  border: solid .01rem #e4e4e4;
  color: #f76460;
}
.index-section .tweeter-pay {
  display: flex;
}
.index-section .tweeter-pay .know-item {
  display: flex;
  width: 5.8rem;
  height: 1.2rem;
  border-radius: .06rem;
  margin-right: .2rem;
  box-sizing: border-box;
  padding: 0 .3rem;
}
.index-section .tweeter-pay .know-item .know-section {
  margin-top: .3rem;
  text-align: left;
  font-weight: 500;
  color: #fff;
}
.index-section .tweeter-pay .know-item .know-section .know-title {
  font-size: .2rem;
}
.index-section .tweeter-pay .know-item .know-section .know-info {
  line-height: 2;
  font-size: .12rem;
  opacity: .8;
}
.index-section .tweeter-pay .know-item.know-tweeter {
  background-image: linear-gradient(165deg, #42a0ff, #2075ff);
}
.index-section .tweeter-pay .know-item.know-tweeter .know-img {
  margin-top: .22rem;
  margin-right: .2rem;
  width: 2.2rem;
  height: .98rem;
}
.index-section .tweeter-pay .know-item.know-pay {
  background-image: linear-gradient(164deg, #c4c6ca, #7b7f99);
}
.index-section .tweeter-pay .know-item.know-pay .know-img {
  margin-top: .04rem;
  margin-right: .6rem;
  width: 1.81rem;
  height: 1.16rem;
}
.index-section .tweeter-pay .know-item:last-child {
  margin-right: 0;
}
.index-section .index-btn {
  z-index: 1;
  cursor: pointer;
  padding: .1rem .58rem;
  border-radius: .04rem;
  font-size: .16rem;
}
.index-section .index-btn:hover {
  opacity: 0.8;
}
